:root {
  --primary-color: #3498db;
  --secondary-color: #2c3e50;
  --accent-color: #2980b9;
  --text-color: #333;
  --light-text-color: #ecf0f1;
  --background-color: #f0f4f8;
  --font-family: 'Roboto', Arial, sans-serif;
  --max-width: 800px;
  --transition-duration: 0.3s;
  --border-radius: 5px;
}

/* Styles globaux */
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

a {
  color: #002c73;
  text-decoration: underline;
  font-weight: bold; 
  transition: color var(--transition-duration) ease, background-color var(--transition-duration) ease;
}

a:hover {
  color: var(--primary-color);
}

/* Styles pour l'en-tête */
header {
  background-color: var(--secondary-color);
  color: var(--light-text-color);
  padding: 2rem 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
}

header #titre {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: var(--primary-color);
}

/* Informations de contact */
.contact-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.contact-info p,
.contact-info a {
  margin: 0;
  color: var(--light-text-color);
  text-decoration: none;
  transition: color var(--transition-duration) ease;
}

.contact-info a:hover {
  color: var(--primary-color);
}

/* Contenu principal */
main {
  max-width: var(--max-width);
  margin: 2rem auto;
  padding: 0 1rem;
}

section {
  margin-bottom: 1rem;
}

/* En-têtes de section */
.section-header {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 1.2rem;
  transition: background-color var(--transition-duration) ease;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  display: flex;
  align-items: center;
}

.section-header:hover,
.section-header.active {
  background-color: var(--accent-color);
}

.section-header i {
  margin-right: 0.5rem;
}

/* Contenu des sections */
.content {
  display: none;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 1rem;
}

.content li:last-child {
  margin-bottom: 0;
}

/* Titres */
h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.1rem;
  color: var(--secondary-color);
}

/* Images */
.section-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

/* Responsivité */
@media (max-width: 600px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
  }
}
